<menu>
    <item label='Resume Playing' app='sndctl'/>
    <item label='Songs'>
        <submenu>
            <item label='Artist' app='load_songs' filter='artist'/>
            <item label='Album' app='load_songs' filter='album'/>
            <item label='Title' app='load_songs' filter=''/>
            <item label='Playlists' app='pl_viewer'/>
            <item label='Search'>
                <submenu>
                    <item label='By Artist' app='search_database' filter='artist'/>
                    <item label='By Album' app='search_database' filter='album'/>
                    <item label='By Title' app='search_database' filter='title'/>
                    <item label='By Year' app='search_database' filter='year'/>
                    <item label='By Any' app='search_database' filter=''/>
                </submenu>
            </item>
            <item label='Update Database' app='cu_database'/>
        </submenu>
    </item>
    <item label='Playlists' app='pl_viewer'/>
    <item label='Settings'>
        <submenu>
            <item label='Bluetooth' value='False'/>
            <item label='Wifi' value='False'/>
            <item label='Backlight Timer' value='60'/>
            <item label='Shutdown Timer' value='300'/>
            <item label='Font Size' value='20'/>
        </submenu>
    </item>
    <item label='About'>
        <submenu>
            <item label='Songs: {value}'/>
            <item label='version a0.1'/>
            <item label='Credits'>
                <submenu>
                    <item label='Ryan'/>
                    <item label='Apple inc.'/>
                </submenu>
            </item>
        </submenu>
    </item>
</menu>